<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">    
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Class</a></h1> 
    </hgroup>  
  </header>  
   
  <div>  
    <%= yield %>  
  </div>  
  
  <footer>  
    <p><small></small></p>  
  </footer>  
</body>  
</html>  
